html, body {
  height: 100%;
}

body {
  /* /* padding: 10px;
  font-family: sans-serif; */
  background: #f9f9f9;
}

.top-bar {
  padding: 5px 15px;
  text-align: right;
}

#logo {
  margin: 20px;
  font-size: 3rem;
  font-weight: bold;
  font-style: oblique;
  text-decoration: underline;
  text-align: center;
}

header h1 {
  font-style: bold;
}

.post-card {
  list-style: none;
  margin: 20px 10px;
  padding: 4% 5%;
  border: 3px dashed rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.post-body {
  padding: 10px;
}

.post-author {
  text-align: right;
}

.post-time {
  font-size: 2rem;
  padding-left: 5%;
  color: #777;
}

#newPostButton {
  position: fixed;
  bottom: 2%;
  right: 50%;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  font-size: 2rem;
  height: 60px;
  border-radius: 60px;
  width: 300px;
  margin-right: -150px;
}

.form-field {
  width: 100%;
}

textarea {
  height: 120px;
}

#closePostButton {
  position: fixed;
  top: 50px;
  right: 50px;
  height: unset;
  padding: 20px;
  padding-bottom: 5px;
  border-radius: 50px;
}

#closePostButton svg {
  height: 24px;
  width: 24px;
}

#newPostForm {
  max-width: 400px;
  margin: auto;
  padding-top: 180px;
}

#newPostFormSubmit {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

#newPostFormSubmit button {
  width: 100%;
}

.post-list {
  margin-bottom: 140px;
}